  <h4>Section</h4>
  <div class="d-flex mb-3">
    <%= f.input :title %>
    <%= f.input :price_cents %>
    <%= f.input :description %>
  </div>

  <%= f.simple_fields_for :videos do |v| %>
    <%= render 'video_fields', f: v %>
  <% end %>
