<h1>Courses#new</h1>

<div class="container">
  <%= simple_form_for @course do |c| %>
    <div style="margin-bottom: 40px">
      <h4>Enter Course Title</h4>
      <%= c.input :title, class: "form" %>
      <%= c.input :price_cents, class: "form" %>
      <%= c.input :video,
            required: true,
            as: :file,
            class: "form" %>
      <%= c.input :color, label: 'Creator Color', collection: [['User 1', 'rgb(255, 152, 72)'], ['User 2', '#5CB8E4'], ['Other', 'green']], as: :select, class: "form" %>
    </div>

    <div class="mt-3"><%= c.button :submit, class: "form" %></div>
  <% end %>
</div>
